# Configurações do Domínio
# Para local: localhost:5000
# Para Ngrok: abc123.ngrok.io (substitua pelo seu domínio do ngrok)
# Importante: O BASE_DOMAIN deve ser o domínio principal sem o subdomínio da barbearia.
BASE_DOMAIN=localhost:5000
SECRET_KEY=sua-chave-secreta-aqui

# Configuração do Banco de Dados SQL Server
DB_DRIVER={ODBC Driver 18 for SQL Server}
DB_SERVER=100.66.160.34,1433
DB_DATABASE=master
DB_USER=APIuser
DB_PASSWORD=TMNTdb
